.cp-predefined-root {
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.cp-predefined-root::-webkit-scrollbar {
  display: none;
}
.cp-color-button {
  width: 82px;
  padding: 5px;
  border-radius: 10%;
  margin-top: 15px;
  background-color: inherit;
}
.cp-preview-color {
  width: 70px;
  height: 70px;
  border-radius: 10%;
}